<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AtoZSystem</title>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <head th:insert="~{header/head :: head}"></head>
</head>
<body class="mod-bg-1 mod-nav-link">
<!-- BEGIN Page Wrapper -->
<div class="page-wrapper">
    <div class="page-inner">
        <!-- BEGIN Left Aside -->
        <!--<th:block th:insert="insert/system_menu :: system_menu"></th:block>-->
        <!-- END Left Aside -->
        <div class="page-content-wrapper">
            <!-- BEGIN Page Header -->
            <div th:insert="~{header/page_header :: header}"></div>
            <!-- END Page Header -->
            <!-- BEGIN Page Content -->
            <!-- the #js-page-content id is needed for some plugins to initialize -->
            <main id="js-page-content" role="main" class="page-content">
                <div class="fs-lg fw-300 p-4 bg-white border-faded rounded mb-2">
                    <div class="search-form">
                        <div class="float-left input-group">
                            <select class="custom-select" id="searchType" aria-label="Default select example">
                                <option value="com_name" ${pageVO.cri.searchType == 'com_name'? 'selected' : '' }>기업명</option>
                                <option value="use" ${pageVO.cri.searchType == 'use'? 'selected' : '' }>상태</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Search" id="searchName" value="${pageVO.cri.searchName }">
                            <span class="input-group-append">
                                      <button class="btn btn-outline-dark" type="submit" id="button-addon2"><i class="fal fa-search"></i></button>
                                    </span>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-primary" id="add-company-btn"><i class="fal fa-plus"></i> 기업등록</button>
                        </div>
                    </div>

                    <!-- table -->
                    <div class="list_box">
                        <p><i class="fal fa-list-ul"></i> 검색건수 <span class="point">${cnt}</span>건</p>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-center table-hover">
                            <colgroup>
                                <col style="width: 5%">
                                <col style="width: 24%">
                                <col style="width: 10%">
                                <col style="width: 10%">
                                <col style="width: 10%">
                            </colgroup>
                            <thead class="">
                            <tr>
                                <th class="col-001">NO.</th>
                                <th class="col-002">회사명</th>
                                <th class="col-003">사용자수</th>
                                <th class="col-004">사용<br>비콘수</th>
                                <th class="col-005">상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="company-item" th:each="company : ${companyList}"
                                th:onclick="'window.location=\'/system/company/selectCompany.do?Num=' + ${company.num} + '\';'">
                                <td class="company-number" th:text="${company.num}"></td>
                                <td th:text="${company.com_name}"></td>
                                <td th:text="${company.userCnt}"></td>
                                <td th:text="${company.useBeaconCnt}"></td>
                                <td>
                                    <span th:text="${company.used == 1 ? '정상' : '중지'}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /table -->
                    </div>
                </div>
        </div>
    </div>
    <!-- END Page Wrapper -->
    <script src="/sas/ui/js/app.bundle.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/js/system/company.js}"></script>
</body>
</html>
